body{
    background-image: url("image/bg.jpg");
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    padding: 10px;
    color: #ffffff;
    margin: 0;
}
.container{
    width: 200px;
    height: 300px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.calculator{
    padding: 10px;
}
input{
    padding: 20px;
}
.calculator button{
    background: black;
    color: white;
    padding: 20px;
    margin: 1px auto;
}
.imagens{
text-align: center;
background: #fff;
margin: auto;
width: 200px;
border-radius: 10px;
}
#github{
    height: 70px;

}
#insta{
    height: 70px;
}
footer{
    padding-top: 110px;
}
